/* ANI.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #19bd9f;
}

.sub-main {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* img */

.img-main {
  position: relative;
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
}

.img-main > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-0 img {
  width: 170px;
  height: 150px;
  border-radius: 5px;
  padding-left: 20px;
}

.img-1 img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding-left: 30px;
}

.img-2 img {
  width: 160px;
  height: 130px;
  border-radius: 5px;
  padding-left: 50px;
  padding-top: 10px;
}
.img-3 img {
  width: 160px;
  height: 130px;
  border-radius: 5px;
  padding-left: 50px;
  padding-top: 10px;
}
.show-hide-icon img {
  width: 160px;
  height: 130px;
  border-radius: 5px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.login-text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.emoji-all {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-field {
  width: 100%;
}

.email-text,
.password-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  width: 100%;
}
/*msg-box*/
.input-with-image {
  position: relative;
}

.input-with-image input[type="email"] {
  padding-right: 60px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
  padding-left: 10px;
}

.email-text label,
.password-text label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
/*password -icon */
.input-with-image input[type="password"] {
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right center;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttom-login {
  margin-top: 20px;
}

.buttom-login button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #07ddf5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 321px;
}

.buttom-login button:hover {
  background-color: #13adbe;
}
